
@media only screen and (max-width: 768px) {
    #FloresHerbas{
        height: auto;
    }
    .item-header-respon{
        margin: auto;
    }
    .item-header-Nombre >h1{
        font-size: 2.5em;
    }
    .item-parlant h1{
        font-size: 3rem;
    }
    .item-parlant >h1{
        padding-right: 150px;
    }
    .item-parlant >p{
        padding-right: 150px;
    }
}
@media only screen and (max-width: 576px) {
    .item-header-Nombre >h1{
        font-size: 2em;
    }
    #FloresHerbas{
        height: 650px;
    }
    .item-header-Nombre >p{
        width: 100% !important;
    }
    .FloresHerbas-item-2{
        text-align: center !important;
    }
    .item-conten-section-1 img{
        width: 75% !important;
        display: block;
        margin: auto;
    }
    .item-input >div {
        width: 75% !important;
    }
    .footer-design1{
        justify-content: center;
    }
    .footer-design2{
        display: flex;
        align-items: center;
        text-align: center;
    }
    .item-parlant h1{
        font-size: 2.5rem;
    }
    .item-parlant >h1{
        padding-right: 0;
    }
    .item-parlant >p{
        padding-right: 0;
        font-size: 0.9rem;
    }
    .item-aspects-1 h3{
        font-size: 2rem;
    }
    .item-aspects-1 p{
        font-size: 0.5em;
    }
    .item-parlant{
        width: 100% !important;
        text-align: center;
    }
    #parlant{
        height: 500px;
    }
    #columnas >div>div{
        text-align: center;
        margin-right: 0!important;
        margin-left: 0!important;
    }
}


