@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');
body{
    font-family: 'Jura', sans-serif !important;
}

header{
    background-image:linear-gradient(90deg, hsl(150deg 100% 50% / 59%) 0%, hsl(91deg 100% 50% / 62%) 35%), url("/assets/images/bg2.svg");

}

.item-header-Nombre >h1 {
    font-size: 4em ;
}

.item-header-Nombre >button{
    background-color: blueviolet !important;
    border: blueviolet !important;
}

#FloresHerbas{
    width: 100%;
    height: 650px;
}

#content{
    width: 100%;
    height: auto;
}

.content-item-1{
    height: auto;
}

#input-video{
    width: 100%;
    height: auto;
}

#carrusel{
    width: 100%;
    height: auto;
}

.item-content-row-section1{
    background-image: url("/assets/images/bg2.svg");
    background-size: cover;
}

.item-button-desconts{
    background-color: rgba(179, 219, 245, 0.301);
}

#columnas{
    background-color: rgba(179, 219, 245, 0.301);
    height: auto;
    width: 100%;
}

.item-content-row-section1 img{
    width: 100%;
    height: 250px;
}

.item-video{
    height: 350px;
}

#parlant{
    background: #FDFC47;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24a2fe91, #fdd847);
    height: 650px;
    width: 100%;
}

#aspects-discount{

    height: auto;
    width: 100%;
}

.item-parlant >h1{
    padding-right: 300px;
    font-size: 2rem;
}

.item-parlant >p{
    padding-right: 300px;
}

.item-button-desconts button{
    background-color: blueviolet !important;
    border: blueviolet !important;
    color: #000;
}

#footer-design{
    height: auto;
    width: 100%;
}
.footer-design1 >img{
    width: 5%;
}

.footer-design1 >h5{
    font-size: 2rem;

}